@{
    ViewBag.Title = "TicketManager";
}

<h2>Ticket Manager</h2>

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Bonomini Guido TPF</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
                <div class="float-center">
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("New Tickets", "NewTickets", "Ticket")</li>
                            <li>@Html.ActionLink("Manage Tickets", "ManageTickets", "Ticket")</li>
                            <li>@Html.ActionLink("Ticket Report", "Report", "Ticket")</li>
                        </ul>
                    </nav>
                </div>
                  <div>
                         @Html.ActionLink("Return to Manager Home Page", "ManagerHome", "Home")
                  </div>
        </header>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Bonomini Guido TPF</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
    </body>
</html>