@model Bonomini_Guido_TPF.Models.User

@{
    ViewBag.Title = "Login";
}

<h2>Log in</h2>

@using (Html.BeginForm("Login", "User", FormMethod.Post))
{
    
<section id="login">

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @if (ViewBag.Message != null)
    {
        <div style="border:1px solid red">
            @ViewBag.Message
        </div>
    }
    <center>
        <table>
        <tr>
            <td>@Html.LabelFor(a => a.UserName)</td>
            <td>@Html.TextBoxFor(a => a.UserName)</td>
            <td>@Html.ValidationMessageFor(a => a.UserName)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.Password)</td>
            <td>@Html.PasswordFor(a => a.Password)</td>
            <td>@Html.ValidationMessageFor(a => a.Password)</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Log in" /></td>
            <td></td>
        </tr>
    </table>
   </center>
 </section>
}
@section Scripts{
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
}