@model Bonomini_Guido_TPF.Models.Ticket

@{
    ViewBag.Title = "AssignEmployee";
}

<h2>Assign Employee</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Ticket</legend>

        <div class="editor-label" hidden="hidden">
            @Html.LabelFor(model => model.TicketID)
        </div>
        <div class="editor-field" hidden="hidden">
            @Html.EditorFor(model => model.TicketID)
            @Html.ValidationMessageFor(model => model.TicketID)
        </div>

        <div class="editor-label" hidden="hidden">
            @Html.LabelFor(model => model.CategoryID, "Category")
        </div>
        <div class="editor-field" hidden="hidden">
            @Html.DropDownList("CategoryID", String.Empty)
            @Html.ValidationMessageFor(model => model.CategoryID)
        </div>

        <div class="editor-label" hidden="hidden">
            @Html.LabelFor(model => model.SubjectName)
        </div>
        <div class="editor-field" hidden="hidden">
            @Html.EditorFor(model => model.SubjectName)
            @Html.ValidationMessageFor(model => model.SubjectName)
        </div>

        <div class="editor-label" hidden="hidden">
            @Html.LabelFor(model => model.PersistenceTime)
        </div>
        <div class="editor-field" hidden="hidden">
            @Html.EditorFor(model => model.PersistenceTime)
            @Html.ValidationMessageFor(model => model.PersistenceTime)
        </div>

        <div class="editor-label" hidden="hidden">
            @Html.LabelFor(model => model.ProblemDetail)
        </div>
        <div class="editor-field" hidden="hidden">
            @Html.EditorFor(model => model.ProblemDetail)
            @Html.ValidationMessageFor(model => model.ProblemDetail)
        </div>

        <div class="editor-label" hidden="hidden">
            @Html.LabelFor(model => model.PriorityID, "Priority")
        </div>
        <div class="editor-field" hidden="hidden">
            @Html.DropDownList("PriorityID", String.Empty)
            @Html.ValidationMessageFor(model => model.PriorityID)
        </div>

        <div class="editor-label" hidden="hidden">
            @Html.LabelFor(model => model.StateID, "State")
        </div>
        <div class="editor-field" hidden="hidden">
            @Html.DropDownList("StateID", String.Empty)
            @Html.ValidationMessageFor(model => model.StateID)
        </div>

        <div class="editor-label" hidden="hidden">
            @Html.LabelFor(model => model.TicketUserName)
        </div>
        <div class="editor-field" hidden="hidden">
            @Html.EditorFor(model => model.TicketUserName)
            @Html.ValidationMessageFor(model => model.TicketUserName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserInChargeID, "User In Charge")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserInChargeID", String.Empty)
            @Html.ValidationMessageFor(model => model.UserInChargeID)
        </div>

        <p>
            <input type="submit" value="Assign" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Return to Manager Home Page", "ManagerHome", "Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}