@model IEnumerable<Bonomini_Guido_TPF.Models.Ticket>

@{
    ViewBag.Title = "TicketState";
}

<h2>Ticket State</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TicketID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProblemDetail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State.StateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketUserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TicketID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProblemDetail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State.StateName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketUserName)
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Return to User Home Page", "UserHome", "Home")
</div>