@model IEnumerable<Bonomini_Guido_TPF.Models.Message>

@{
    ViewBag.Title = "ViewMessages";
}

<h2>Message Box</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MessageSubject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MessageContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MessageType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MessageUserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MessageSubject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MessageContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MessageType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MessageUserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @if (item.MessageType == "Internal" && Session["LogedUserName"].ToString() != item.MessageUserName)
            {
                 @Html.ActionLink("Respond to Message", "CreateInternalMessage", new { id=item.MessageID })
            }
            else if (item.MessageType == "Normal" && Session["LogedUserName"].ToString() != item.MessageUserName)
            {
                 @Html.ActionLink("Respond to Message", "CreateNormalMessage", new { id=item.MessageID })
            }
        </td>
    </tr>
}

</table>

@if (int.Parse(Session["LogedUserRoleID"].ToString()) == 3)
{
 <div>
     @Html.ActionLink("Return to Manager Home Page", "ManagerHome", "Home")
 </div>
}
else if (int.Parse(Session["LogedUserRoleID"].ToString()) == 2)
{
 <div>
     @Html.ActionLink("Return to Employee Home Page", "EmployeeHome", "Home")
 </div>
}
else if (int.Parse(Session["LogedUserRoleID"].ToString()) == 1)
{
 <div>
     @Html.ActionLink("Return to User Home Page", "UserHome", "Home")
 </div>
}